/***************************************************************************************************************
||||||||||||||||||||||||||||       MASTER STYLESHEET FOR Medical clinic          ||||||||||||||||||||||||||||||||||||
****************************************************************************************************************
||||||||||||||||||||||||||||              TABLE OF CONTENT                  ||||||||||||||||||||||||||||||||||||
****************************************************************************************************************
****************************************************************************************************************

1 imported styles
2 flaticon reset styles
3 .top-bar styles
4 .header styles
5 .mainmenu-area styles
6 .rev_slider_wrapper styles
7 .call-to-action styles
8 .single-specialize styles
9 .full-sec styles
10 .offer-wrapper styles
11 .single-service-home styles
12 .faq-home styles
13 .fact-counter-wrapper styles
14 .single-team-member styles
15 .testimonials-wrapper styles
16 .single-blog-post styles
17 .footer-call-to-action styles
18 .footer styles
19 .footer-bottom styles
20 contact form validation styles
21 .home-appointment-form styles
22 select menu item styles
23 date picker styles
24 .inner-header styles
25 .about-content styles
26 .single-award styles
27 .contact-content styles
28 .appointment-content styles
29 .page-navigation styles
30 .side-bar-widget styles

****************************************************************************************************************
||||||||||||||||||||||||||||            End TABLE OF CONTENT                ||||||||||||||||||||||||||||||||||||
****************************************************************************************************************/

/* 1 imported styles */

@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,100italic,200,200italic,300,300italic,400italic,500,500italic,600,600italic,700,700italic,800,900,800italic,900italic);

@import url(bootstrap.min.css);
@import url(font-awesome-4.7.0/css/font-awesome.min.css);
@import url(hover.css);
@import url(jquery.fancybox.css);
@import url(jquery.bxslider.css);



body {
	font-family:  arial, sans-serif;
	font-size: 14px;
	color: #1196CC;
	overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6 {
	font-family:  arial, sans-serif;
}
a, a:hover, a:active {
	text-decoration: none;
}
a:hover,a:focus,a:visited{
	text-decoration:none;
	outline:none;
}
img {
	min-width: 100%;
}
p{
	color: #666666;
	/* font-weight: 300; */
	/* line-height: 23.5px; */
	/* margin: 0 0 15px; */
}
.p0 {
	padding: 0 !important;
}

.thm-btn {
	background: #1196CC;
	display: inline-block;
	color: #fff;
	font-size: 12px;
	font-family:  arial, sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	padding: 12px 35px;
	border: 2px solid transparent;
	transition: all .3s ease;
}
.thm-btn:hover,
.thm-btn.inverse {
	background-color: #fff;
	border-color: #1196CC;
	color: #1196CC;
}
.thm-btn.inverse:hover {
	background: #1196CC;
	border-color: #1196CC;
	color: #fff;
}
.sec-pdd-bot-80 {
	padding-bottom: 80px;
}
.sec-pdd-90 {
	padding: 90px 0;
}
.sec-pdd-bot-90 {
	padding-bottom: 90px;
}
.sec-pdd-top-90 {
	padding-top: 90px;
}
.sec-pdd-90-85 {
	padding: 90px 0 85px;
}
.sec-pdd-90-68 {
	padding: 90px 0 68px;
}
.sec-pdd-90-80 {
	padding: 90px 0 80px;
}
.sec-pdd-90-45 {
	padding: 90px 0 45px;
}
.sec-pdd-bot-85 {
	padding-bottom:85px;
}
.item-margin-top {
	margin-top: 50px;
}
.item-margin-top-40 {
	margin-top: 40px;
}
.sec-title {
	margin-bottom: 5px;
}
.sec-title h2 {
	color: #202a30;
	font-size: 32px;
	font-weight: bold;
	margin: 0 0 20px;
	text-transform: capitalize;
	/* line-height: .75; */
}
.sec-title p {
	font-size: 16px;
	color: #747474;
	margin: 0;
	margin-bottom: 20px;
}
.sec-title span.decor {
	width: 16px;
	height: 16px;
	border-radius: 50%;
	border: 2px solid #E6E6E6;
	background: #fff;
	display: inline-block;
	position: relative;
	z-index: 1;
}
.sec-title span.inner {
	width: 6px;
	height: 6px;
	background: #EAEAEA;
	border-radius: 50%;
	display: block;
	margin: auto;
	margin-top: 3px;
}
.sec-title span.decor:before,
.sec-title span.decor:after {
	content: '';
	position: absolute;
	top: 5px;
	width: 50px;
	height: 2px;
	background: #E6E6E6;
	z-index: -1;
}
.sec-title span.decor:before {
	left: 14px;
}
.sec-title span.decor:after {
	right: 14px;
}
.sec-title.text-left span.decor {
	margin-left: 50px;
}
.sec-title.style-two span.decor {
	border-color: #1196CC;
}
.sec-title.style-two span.decor .inner {
	background: #1196CC;
}
.sec-title.style-two span.decor:after {
	right: -94px;
}
.sec-title.style-two span.decor:before,
.sec-title.style-two span.decor:after {
	background: #DCDCDC;
}

.sec-title.colored span.decor {
	border-color: #1196CC;
}
.sec-title.colored span.decor span.inner {
	background: #1196CC;
}
.sec-title.colored span.decor:before,
.sec-title.colored span.decor:after {
	background: #1196CC;
}

.no-bg {
	background: none !important;
}


/* 2 flaticon reset styles */

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
	margin: 0;
}



/* 3 .top-bar styles */

.top-bar {border-bottom: 1px solid #EAEAEA;}

.top-bar .left-text p {
	font-size: 13px;
	color: #B6B6B6;
	margin: 0;
	line-height: 48px;
}

.top-bar .left-text p span {
	color: #383838;
}

.social-icons ul,
.social-icons ul li {
	list-style: none;
	margin: 0;
	padding: 0;
	display: inline-block;
}

.social-icons ul li:first-child a {
	border-left: 1px solid #EAEAEA;
}

.social-icons ul li a {
	display: inline-block;
	font-size: 15px;
	color: #A4A4A4;
	border-right: 1px solid #EAEAEA;
	line-height: 48px;
	text-align: center;
	padding: 0 16px;
	margin-left: -5px;
	transition: all .3s ease;
}

.social-icons ul li a:hover {
	color: #fff;
	background: #1196CC;
}


/* 4 .header styles */
.header {padding: 10px 0;}
.single-header-info {float:left;padding-left: 35px;}
.single-header-info .icon-box,
.single-header-info .content {
	display: table-cell;
	vertical-align: middle;
}
.header-right-info {}
.single-header-info .icon-box .inner-box {
	border: 1px solid #e1e1e1;
	height: 46px;
	margin-right: 15px;
	text-align: center;
	width: 46px;
}
.single-header-info .icon-box .inner-box i::before {
	color: #1196CC;
	font-size: 26px;
	line-height: 42px;
	text-align: center;
}
.single-header-info .content h3 {
	font-size: 13px;
	text-transform: uppercase;
	color: #2B2B2B;
	font-family:  arial, sans-serif;
	font-weight: 800;
	margin: 0;
	margin-bottom: 5px;
}
.single-header-info .content p {
	font-size: 13px;
	margin: 0;
	color: #272727;
}
.single-header-info .content p b {
	color: #272727;
	font-size: 15px;
	font-weight: 400;
}
.single-header-info .thm-btn {
	margin: 7px 0;
}


/* 5 .mainmenu-area styles */

.mainmenu-area {
	background: #262F36;
	border-bottom: 4px solid #1196CC;
}
.mainmenu-area.stricky-fixed {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 99999;
}
.navigation .nav-footer {
	display: none;
}
.navigation .nav-header > ul {
	padding: 0;
	margin: 0;
}
.navigation .nav-header > ul > li {
	display: inline-block;
	position: relative;
}
.navigation .nav-header > ul > li:first-child > a {
	padding-left: 0;
}
.navigation .nav-header > ul > li > a {
	display: block;
	font-size: 13px;
	font-weight: 600;
	text-transform: uppercase;
	color: #FFFFFF;
	padding: 18px 7px;
	transition: all .3s ease;
}
.navigation .nav-header > ul > li:hover > a {
	color: #1196CC;
}
.navigation .nav-header > ul > li:hover > ul {
	opacity: 1;
	visibility: visible;
}
.navigation .nav-header > ul > li > ul {
	position: absolute;
	top:100%;
	left:0;
	z-index: 999;
	background: #fff;
	width: 240px;
	margin: 0;
	padding: 0;
	opacity: 0;
	visibility: hidden;
	box-shadow: 2px 0 11px -3px rgba(0,0,0,.2);
	transition: all .5s ease;
}
.navigation .nav-header > ul > li > ul > li {
	display: block;
	position: relative;
}
.navigation .nav-header > ul > li > ul > li:last-child > a {
	border-bottom: 0;
}
.navigation .nav-header > ul > li > ul > li > a {
	display: block;
	font-size: 14px;
	font-weight: 500;
	text-transform: capitalize;
	color: #2B2B2B;
	padding: 14px 19px;
	border-bottom: 1px solid #E9E9E9;
	transition: all .3s ease;
}
.navigation .nav-header > ul > li > ul > li:hover > a {
	background: #1196CC;
	color: #fff;
	border-color: 0;
}
.navigation .nav-header > ul > li > ul > li:hover > ul {
	opacity: 1;
	visibility: visible;
}
.navigation .nav-header > ul > li > ul > li > ul {
	position: absolute;
	top:0;
	left:100%;
	width: 240px;
	margin: 0;
	padding: 0;
	opacity: 0;
	visibility: hidden;
	z-index: 999;
	background: #fff;
	box-shadow: 2px 0 11px -3px rgba(0,0,0,.2);
	transition: all .5s ease;
}
.navigation .nav-header > ul > li > ul > li > ul > li {
	display: block;
	position: relative;
}
.navigation .nav-header > ul > li > ul > li > ul > li:last-child > a {
	border-bottom: 0;
}
.navigation .nav-header > ul > li > ul > li > ul > li > a {
	display: block;
	font-size: 14px;
	font-weight: 500;
	text-transform: capitalize;
	color: #2B2B2B;
	padding: 14px 19px;
	border-bottom: 1px solid #E9E9E9;
	transition: all .3s ease;
}
.navigation .nav-header > ul > li > ul > li > ul > li:hover > a {
	background: #1196CC;
	color: #fff;
	border-color: 0;
}

.mainmenu-area .search-box {
	width: 280px;
	height: 66px;
	background: #2D373F;
	padding: 0 25px;
}
.mainmenu-area .search-box input {
	background-color: transparent;
	border: none;
	outline: none;
	color: #DAD9D9;
	font-size: 13px;
	line-height: 65px;
	width: calc(100% - 31px);
}
.mainmenu-area .search-box button {
	background-color: transparent;
	border: none;
	outline: none;
	font-size: 15px;
	line-height: 65px;
	color: #DAD9D9;
}


/* 6 .rev_slider_wrapper styles */
.home_slider_container
{
	width: 100%;
	height: 770px;
	background: #000000;
}
.home_slider_container::before,
.home_slider_container::after
{
	display: block;
	position: absolute;
	left: 0;
	width: 100%;
	content: '';
	background: rgba(98,70,147,0.7);
	z-index: 10;
}
.home_slider_container::before
{
	/* top: 0; */
	/* height: 61px; */
}
.home_slider_container::after
{
	bottom: 0;
	/* height: 66px; */
}
.home_slider_nav
{
	position: absolute;
	top: 50%;
	width: 42px;
	height: 42px;
	background: #1196CC;
	z-index: 1;
	text-align: center;
	cursor: pointer;
	-webkit-transform: translate(0%, -50%);
	-moz-transform: translate(0%, -50%);
	-o-transform: translate(0%, -50%);
	-ms-transform: translate(0%, -50%);
	transform: translate(0%, -50%);
}
.home_slider_nav i
{
	color: #FFFFFF;
	font-size: 24px;
	line-height: 42px;
}
.home_slider_prev
{
	left: 20px;
}
.home_slider_next
{
	right: 20px;
}
.home_slider_nav:hover
{
	background: #f7f9f9;
}
.home_slider_nav:hover i
{
	color: #000000;
}
.home_slider_content
{
	position: absolute;
	left: 30%;
	top: calc(50% - 21px);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	max-width: 780px;
}
.home_category
{
	display: inline-block;
	height: 22px;
	background: #624693;
}
.home_category a
{
	display: block;
	color: #FFFFFF;
	font-size: 10px;
	text-transform: uppercase;
	letter-spacing: 0.35em;
	line-height: 22px;
	padding-left: 9px;
	padding-right: 7px;
}
.home_title
{
	background: #000;
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
    padding: 5px 10px;
    font-family: arial, sans-serif;
    text-transform: capitalize;
}
.home_text
{
	font-size: 16px;
	color: #ffffff;
	line-height: 2.14;
	margin-top: 7px;
}
.home_button
{
	background: #1196CC;
    display: inline-block;
    color: #fff;
    padding: 12px 35px;
    border: 2px solid transparent;
    transition: all .3s ease;
	border-color: #1196CC;
	margin-top: 15px;
}
.home_button a
{
	display: block;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	color: #FFFFFF;
	letter-spacing: 0.35em;
}
.home_button:hover
{
	background: #1196CC;
}


.background_image{min-height: 770px;}
/* 7 .call-to-action styles */

.call-to-action .container-fluid {
	padding: 0;
}
.call-to-action-corner {
	/*width: 35%;*/
	position: relative;
	/*float: left;*/
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	/* height: 242px; */
}
.call-to-action-corner::before {
	background: #1196CC none repeat scroll 0 0;
	bottom: 0;
	content: "";
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}
.call-to-action-center {
	/*width: 30%;*/
	position: relative;
	/*float: left;*/

	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.call-to-action-center::before {
	background: #16adea none repeat scroll 0 0;
	bottom: 0;
	content: "";
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.single-call-to-action {
	position: relative;
	text-align: center;
	min-height: 180px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
}
.single-call-to-action .icon-box,
.single-call-to-action .content-box {
	display: inline-block;
	vertical-align: top;
}
.single-call-to-action .icon-box {
	width: 50px;
	position: relative;
	bottom: 15px;
}
.single-call-to-action .icon-box i.flaticon-clock {
	bottom: 20px;
	position: relative;
}
.single-call-to-action .icon-box i.flaticon-medical {
	position: relative;
	bottom: 25px;
}
.single-call-to-action .icon-box i.flaticon-coins {
	position: relative;
	bottom: 15px;
}
.single-call-to-action .icon-box i:before {
	font-size: 50px;
	color: #fff;
}
.single-call-to-action .content-box {
	width: 65%;
	text-align: left;
	padding-left: 15px;
}
.single-call-to-action .content-box h3 {
	font-size: 24px;
	text-transform: uppercase;
	color: #fff;
	font-weight: normal;
	margin: 0;
	margin-bottom: 15px;
}
.single-call-to-action .content-box p {
	font-size: 13px;
	color: #fff;
	line-height: 24px;
}
.single-call-to-action .content-box ul {
	margin: 0;
	padding: 0;
}
.single-call-to-action .content-box ul li {
	list-style: none;
	display: block;
	color: #fff;
	font-size: 13px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.single-call-to-action .content-box .thm-btn.inverse {
	border-color: #fff;
	background-color: transparent;
	padding: 7px 22px;
	color: #fff;
}
.single-call-to-action .content-box .thm-btn.inverse:hover {
	background: #fff;
	color: #1196CC;
}
.call-to-action.boxed .single-call-to-action .content-box {
	width: 70%;
}

/* 8 .single-specialize styles */

.single-specialize .content {
	padding: 20px 10px;
	background-color: #f7f7f7;
}

.single-specialize:hover .icon-box {
	border-color: #1196CC;
}
.single-specialize .icon-box {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid #fff;
	line-height: 118px;
	color: #1196CC;
	margin-bottom: 20px;
	transition: all .3s ease;
}
.single-specialize .icon-box i:before {
	font-size: 60px;
}
.single-specialize .image-box {
	overflow: hidden;
	transition: all 0.4s ease-in-out;
}
.single-specialize .image-box img {
	transition: all 0.4s ease-in-out;
}
.single-specialize:hover .image-box img {
	transform: scale(1.1);
}
.single-specialize h3 {
	color: #202a30;
	font-size: 1.125em;
	font-weight: 700;
	line-height: 24px;
	margin: 0 0 10px;
	text-transform: capitalize;
}
.single-specialize p {
	color: #9c9c9c;
	font-size: 14px;
	line-height: 26px;
	text-align: justify;
}
.single-specialize a.thm-btn {
	font-size: 12px;
	padding: 7px 21px;
}
.col-4 .single-specialize {
	padding: 0;
	padding-right: 20px;
}
.col-4 .single-specialize .icon-box {
	height: 75px;
	line-height: 73px;
	margin-left: 0;
	margin-right: 0;
	width: 75px;
}
.col-4 .single-specialize .icon-box i:before {
	font-size: 40px;
}

/* 9 .full-sec styles */

.full-sec {
	background: #FBFCFC;
}
.full-sec .sec-title {
	margin: 0;
	margin-bottom: 30px;
}
.full-sec .full-image {
	max-width: none;
	margin-right: -15px;
}
.full-sec h3 {
	color: #1196CC;
	font-family: arial,sans-serif;
	font-weight: 300;
	line-height: 40px;
	text-transform: capitalize;
	font-size: 20px;
}
.full-sec p {
	color: #9c9c9c;
	line-height: 26px;
	margin-bottom: -5px;
}
.full-sec .full-sec-content a {
	margin-top: 30px;
}
.full-sec .full-sec-content {
	padding-top: 70px;
	padding-left: 70px;
}
.full-sec .thm-btn {
	padding: 7px 21px;
	font-size: 12px;
	border-color: #D3D3D3;
	color: #202A30;
	background-color: transparent;
}
.full-sec .thm-btn:hover {
	background: #1196CC;
	border-color: #1196CC;
	color: #fff;
}


/* 10 .offer-wrapper styles */

.offer-wrapper {
	position: relative;
}
.offer-wrapper:before {
	content: '';
	position: absolute;
	top:0;
	left:0;
	z-index: -1;
	width: 50%;
	height: 100%;
	background: url(../img/offer/1.jpg) 0 0 no-repeat;
	opacity: .9;
}
.offer-wrapper:after {
	content: '';
	position: absolute;
	top:0;
	right:0;
	z-index: -1;
	width: 50%;
	height: 100%;
	background: url(../img/offer/2.jpg) 0 0 no-repeat;
	opacity: .9;
}
.offer-wrapper .has-overlay::before {
	background: #1196CC none repeat scroll 0 0;
	content: "";
	height: 100%;
	left: 0;
	opacity: 0.9;
	position: absolute;
	top: 0;
	width: 50%;
}
.offer-wrapper .has-overlay:after {
	content: '';
	position: absolute;
	top:0;
	right:0;
	width: 50%;
	height: 100%;
	background: #1196CC;
	opacity: .9;
}
.single-offer {
	color: #fff;
	padding-bottom: 80px;
	padding-top: 80px;
	position: relative;
	z-index: 9;
	text-align: center;
}
.single-offer h3 {
	font-size: 30px;
	text-transform: capitalize;
	margin: 0;
	margin-bottom: 15px;
}
.single-offer h3 span {
	font-size: 16px;
}
.single-offer .thm-btn {
	padding: 10px 27px;
	color: #fff;
	border-color: #fff;
	background-color: transparent;
}
.single-offer .thm-btn:hover {
	background: #fff;
	border-color: #fff;
	color: #1196CC;
}
.single-offer p {
	font-size: 14px;
	line-height: 26px;
	margin: 0 0 30px;
	color: #000;
}
.single-offer a {
	color: #fff;
}
.single-offer a:hover {
	color: #262F36;
}
.single-offer.left {
	padding-right: 70px;
	text-align: center;
}
.single-offer.right {
	padding-left: 70px;
}


/* 11 .single-service-home styles */

.single-service-home .icon-box,
.single-service-home .content {
	display: table-cell;
	vertical-align: top;
}
.single-service-home .inner-box {
	border: 2px solid #fff;
	border-radius: 50%;
	color: #1196CC;
	height: 70px;
	line-height: 68px;
	margin-right: 27px;
	position: relative;
	text-align: center;
	transition: all 0.6s ease 0s;
	width: 70px;
}
.single-service-home:hover .inner-box {
	background: #fff;
	border-color: #1196CC;
	color: #1196CC;
}
.single-service-home .inner-box i:before {
	font-size: 35px;
}
.single-service-home .content h3 {
	font-size: 24px;
	text-transform: capitalize;
	color: #202A30;
	font-weight: 500;
	margin: 0;
	line-height: 24px;
	margin-bottom: 15px;
}
.single-service-home .content a {
	color: #1196CC;
	font-size: 14px;
	text-transform: capitalize;
	font-weight: 600;
	transition: all .3s ease;
}
.single-service-home:hover .content a {
	color: #5E2A30;
}
.style a {
	color: #1196CC;
	font-size: 14px;
	text-transform: capitalize;
	font-weight: 600;
	transition: all .3s ease;
}
.style:hover a{
	color: #5E2A30;
}

.style-two .single-service-home .inner-box  {
	border-radius: 50%;
}
.style-two .single-service-home .inner-box:before {
	display: none;
}





.company .nav li a {
	border: 1px solid #e9e9e9;
	border-radius: 0;
	color: #323232;
	font-family: arial,sans-serif;
	font-size: 22px;
	font-weight: 500;
	padding: 32px;
}
.company .nav li a:focus, .company .nav li.active a {
	background: #1196CC url("../img/arrow-up.png") no-repeat scroll center 101.5%;
	border-color: transparent;
	color: #fff;
	outline: medium none;
	font-weight: 700;
}
.company .tab-content ul li i {
	color:#233859;
	margin-right:12px;
}
.company .tab-content ul {
	display: inline-block;
}
.company .tab-content ul li a {
	font-family: arial,sans-serif;
	font-size:0.875em;
	color: #6c6c6c;
}
.company .tab-content h3 {
	color: #242424;
	font-family: arial,sans-serif;
	font-size: 1.125em;
	font-weight: 700;
	margin-bottom: 10px;
}
.company .tab-content .list-two{
	padding-left:86px;
}
.company .tab-content ul li {
	margin-top:9px;
}
.nav-justified {
	margin-bottom: 50px;
}

/* 12 .faq-home styles */
.faq-home hr {
	border-top: 1px solid #F1F1F1;
	border-bottom: 1px solid #F1F1F1;
	height: 6px;
	margin: 0;
	margin-bottom: 90px;
}
.faq-home .sec-title {
	margin: 0;
	margin-bottom: 22px;
}
.faq-home .accrodion {
	padding-bottom: 31px;
	position: relative;
	padding-right: 55px;
}
.faq-home .accrodion:last-child {
	padding-bottom: 0;
}
.faq-home .accrodion:last-child:before {
	display: none;
}
.faq-home .accrodion.active:last-child:before {
	display: block;
}
.faq-home .accrodion.active:before,
.faq-home .accrodion:before {
	content: '';
	width: 1px;
	height: 100%;
	position: absolute;
	top: 5px;
	left:6px;
	background: #F1F1F1;
}
.faq-home .accrodion .accrodion-content {
	padding-top: 21px;
}
.faq-home .accrodion .accrodion-title h4 {
	margin: 0;
	font-size: 20px;
	color: #202A30;
	font-weight: 600;
	cursor: pointer;
}
.faq-home .accrodion .accrodion-title h4 span.decor {
	width: 14px;
	height: 14px;
	border-radius: 50%;
	border: 2px solid #F1F1F1;
	background: #fff;
	display: inline-block;
	position: relative;
	z-index: 1;
	margin-right: 20px;
}
.faq-home .accrodion .accrodion-title h4 span.inner {
	width: 4px;
	height: 4px;
	background: #F1F1F1;
	border-radius: 50%;
	display: block;
	margin: auto;
	margin-top: 3px;
}
.faq-home .accrodion.active .accrodion-title h4 span.decor {
	border-color: #1196CC;
}
.faq-home .accrodion.active .accrodion-title h4 span.inner {
	background: #1196CC;
}
.faq-home .accrodion .accrodion-content {
	padding-left: 40px;
}
.faq-home .accrodion .accrodion-content p {
	margin-bottom: 21px;
	font-size: 14px;
	/* color: #1196CC; */
	line-height: 26px;
}
.faq-home .accrodion .accrodion-content p:last-child {
	margin-bottom: 0;
}
.faq-home .img-masonary {
	margin-left: -3px;
	margin-right: -3px;
}
.faq-home .img-masonary .img-w1 {
	padding: 3px;
}
.faq-home .img-masonary .img-w1 img {
	width: 280px;
}
.faq-home .img-masonary .img-h1 img {
	height: 220px;
}


/* 13 .fact-counter-wrapper styles */

.fact-counter-wrapper {
	position: relative;
	background: url(../img/resources/fact-counter-bg.jpg) center center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.fact-counter-wrapper:before {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	content: '';
	background: #1196CC;
	opacity: .95;
}
.fact-counter-wrapper h2 {
	font-size: 36px;
	line-height: 42px;
	color: #fff;
	margin: 0;
	margin-bottom: 27px;
}
.fact-counter-wrapper .thm-btn.inverse:hover {
	border-color: #fff;
	color: #fff;
}
.single-fact {
	text-align: center;
	display: inline-block;
	padding: 0 35px;
}
.single-fact .icon-box {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 2px solid  #fff;
	color: #fff;
	text-align: center;
	line-height: 98px;
	margin-bottom: 14px;
}
.single-fact .icon-box i:before {
	font-size: 50px;
}
.single-fact span {
	font-size: 48px;
	font-weight: 500;
	color: #fff;
}
.single-fact p {
	margin: 0;
	font-size: 12px;
	text-transform: uppercase;
	color: #fff;
	font-weight: 600;
}

/*testimonial block one*/

.testimonial-block-one{
	position:relative;
}

.testimonial-block-one .inner-box{
	position:relative;
	padding: 0 20px;
}

.testimonial-block-one .inner-box .quote-icon{
	position:relative;
	color:#d7d7d7;
	font-size:24px;
}

.testimonial-block-one .inner-box .text{
	position:relative;
	color:#777777;
	font-size:14px;
	line-height:1.8em;
}

.testimonial-block-one .inner-box .author-info{
	position:relative;
	padding-left:90px;
	/* margin-top:30px; */
}

.testimonial-block-one .inner-box .author-info .author-image{
	position:absolute;
	left:0px;
	top:0px;
	width:68px;
	height:68px;
	overflow:hidden;
	border-radius:50%;
}

.testimonial-block-one .inner-box .author-info .author-image img{
	border-radius:50%;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	min-width: 100%;
	min-height: 100%;
	max-width: 100%;
}

.testimonial-block-one .inner-box .author-info h3{
	position:relative;
	color:#222222;
	font-size:16px;
	font-weight:700;
}

.testimonial-block-one .inner-box .author-info .designation{
	position:relative;
	color:#777777;
	font-size:14px;
}

.testimonial-block-one .inner-box .author-info .rating{
	position:relative;
	margin-top:3px;
}

.testimonial-block-one .inner-box .author-info .rating .fa{
	position: relative;
	display: inline-block;
	margin-right: 3px;
	font-size: 13px;
	color: #ffd105;
}


/*** 

====================================================================
	Progress Levels Style
====================================================================

 ***/

.progress-levels {
	position: relative;
}

.progress-levels .progress-box {
	margin-bottom: 10px;
	overflow: hidden;
	position: relative;
}

.content-section .progress-levels .progress-box{
	margin-bottom:15px;
}

.progress-levels .progress-box:last-child{
	margin-bottom:0px;
}

.progress-levels .progress-box .box-title {
	color: #1c1c1c;
	font-size: 14px;
	line-height: 30px;
	position: relative;
	text-transform: capitalize;
}

.progress-levels .progress-box .box-title span {
	font-weight: 400;
}

.content-section .progress-levels .progress-box .box-title{
	font-size:13px;
	line-height:30px;
}

.progress-levels .progress-box .box-title .icon {
	color: #5a5a5a;
	display: inline-block;
	font-size: 25px;
	line-height: 1em;
	padding-right: 15px;
	position: relative;
	top: 6px;
}

.content-section .progress-levels .progress-box .icon{
	top:3px;
	font-size:20px;
	padding-right:10px;
}

.progress-levels .progress-box .bar{
	position:relative;
	height:8px;
}

.progress-levels .progress-box .bar .bar-innner{
	position:relative;
	left:0px;
	top:0px;
	width:100%;
	height:8px;
	border:3px solid #f0f0f0;
	background:#f0f0f0;
}

.progress-levels .progress-box .bar .bar-fill{
	position:absolute;
	left:-100%;
	top:0px;
	width:0px;
	height:2px;
	background:#1196CC;
	transition:all 2000ms ease 300ms;
}

.progress-levels .progress-box .bar .bar-fill:after{
	content:'';
	position:absolute;
	right:0px;
	top:-5px;
	height:12px;
	border-right:2px solid #1196CC;
}

.progress-levels .progress-box.animated .bar .bar-fill{
	left:0px;
}


/* 14 .single-team-member styles */


.meet-doctors.gray-bg {
	background: #FBFCFC;
}
.meet-doctors.team-page {
	padding-bottom: 30px;
}
.meet-doctors.team-page .single-team-member {
	margin-bottom: 60px;
}
.single-team-member .img-box {
	margin-bottom: 10px;
	position: relative;
}
.single-team-member .img-box .overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom:0;
	background: rgba(42,175,174, .75);
	transform: scale(0);
	transition: all .5s ease;
}
.single-team-member:hover .img-box .overlay {
	transform: scale(1);
}
.single-team-member .img-box .overlay .box {
	display: table;
	width: 100%;
	height: 100%;
}
.single-team-member .img-box .overlay .box .content {
	display: table-cell;
	vertical-align: middle;
}
.single-team-member .img-box .overlay .box .content ul {
	text-align: center;
	margin: 0;
	padding: 0;
}
.single-team-member .img-box .overlay .box .content ul li {
	display: inline-block;
	list-style: none;
}
.single-team-member .img-box .overlay .box .content ul li a {
	display: inline-block;
	width: 40px;
	height: 40px;
	margin-right: 8px;
	background: #fff;
	color: #1196CC;
	border: 1px solid #fff;
	line-height: 38px;
	font-size: 18px;
	border-radius: 50%;
	transition: all .3s ease;
}
.single-team-member .img-box .overlay .box .content ul li a:hover {
	background: #1196CC;
	border-color: #fff;
	color: #fff;
}
.single-team-member h3 {
	font-size: 18px;
	text-transform: capitalize;
	font-weight: bold;
	color: #222E35;
	line-height: 25px;
	margin: 0;
	margin-bottom: 4px;
}
.single-team-member > span {
	font-size: 13px;
	color: #1196CC;
	text-transform: capitalize;
	display: block;
	margin-bottom: 10px;
}
.single-team-member p {
	font-size: 14px;
	color: #1196CC;
	line-height: 26px;
	margin: 0;
}
.single-team-member a.thm-btn {
	padding: 9px 24px;
	background: #fff;
	border-color: #E6E6E6;
	color: #222E35;
	margin-top: 13px;
}
.single-team-member a.thm-btn:hover {
	background: #1196CC;
	border-color: #1196CC;
	color: #fff;
}
.team-carousel{margin: 0 -10px;}
.team-carousel .item{
	width: 25%; float: left;
	padding: 0 10px;
}
.team-carousel .owl-controls {
	position: absolute;
	top: -115px;
	right: 0;
}
.owl-theme .owl-nav {
	margin: 0;
}
.owl-theme .owl-nav [class*=owl-] {
	background: #1196CC;
	color: #fff;
	width: 45px;
	height: 45px;
	border: 2px solid #1196CC;
	font-size: 22px;
	line-height: 43px;
	padding: 0;
	margin: 0;
	border-radius: 0;
	margin-left: 15px;
}
.owl-theme .owl-nav [class*=owl-]:hover {
	background: #fff;
	color: #1196CC;
}
.single-team-member .icon-box {
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 10px;
	padding-bottom: 5px;
}
.single-team-member .icon-box .content ul {
	list-style: outside none none;
	padding-left: 5px;
}
.single-team-member .icon-box .content ul li {
	border: 1px solid;
	margin-right: 5px;
	padding: 0;
	border-radius: 50%;
}
.single-team-member .icon-box .content ul li a i {
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #1196CC;
}

/* 15 .testimonials-wrapper styles */

.testimonials-wrapper {
	/* background: url(../img/resources/bg-01.jpg) center center no-repeat; */
	-webkit-background-size: cover;
	background-size: cover;
	position: relative;
	background: #1196cc;
}
.testimonials-wrapper:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom:0;
	background: #fff;
	opacity: .9;
}
.testimonials-wrapper .container {
	position: relative;
}

.single-testimonaials {
	text-align: center;
	background: #fff;
	padding: 0 50px;
	padding-bottom: 40px;
	margin-top: 30px;
}
.single-testimonaials .qoute-box {
	width: 60px;
	height: 60px;
	text-align: center;
	color: #1196CC;
	background: #fff;
	line-height: 60px;
	-webkit-box-shadow: 0 0 7px -2px rgba(0,0,0,.2);
	box-shadow: 0 0 7px -2px rgba(0,0,0,.2);
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	bottom: 30px;
	margin-bottom: -10px;
}
.single-testimonaials .qoute-box .qoute {
	font-size: 80px;
	vertical-align: bottom;
	line-height: 0;
	text-align: center;
	margin-right: 25px;
}
.single-testimonaials p {
	font-weight: 500;
	color: #383838;
	font-size: 15px;
	line-height: 28px;
}
.single-testimonaials h3 {
	font-size: 16px;
	color: #202A30;
	text-transform: uppercase;
	font-weight: bold;
	margin: 0;
	font-family: arial,sans-serif;
	margin-top: 20px;
	margin-bottom: 6px;
}
.single-testimonaials span {
	font-size: 13px;
	color: #A4A4A4;
	text-transform: capitalize;
}
.testimonaials-carousel .owl-dots .owl-dot span {
	width: 10px;
	height: 10px;
	background: #fff;
	border: 2px solid #1196CC;
	border-radius: 50%;
}
.testimonaials-carousel .owl-dots {
	margin-top: 60px;
}
.testimonaials-carousel .owl-dots .owl-dot:hover span,
.testimonaials-carousel .owl-dots .owl-dot.active span {
	background: #1196CC;
}



/* 16 .single-blog-post styles */


.single-blog-post .content-box {
	margin-top: 27px;
}
.single-blog-post .img-box {
	position: relative;
	display: inline-block;
}
.single-blog-post .img-box .overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom:0;
	background: rgba(42,175,174, .75);
	transform: scale(0);
	transition: all .5s ease;
}
.single-blog-post:hover .img-box .overlay {
	transform: scale(1);
}
.single-blog-post .img-box .overlay .box {
	display: table;
	width: 100%;
	height: 100%;
}
.single-blog-post .img-box .overlay .box .content {
	display: table-cell;
	vertical-align: middle;
}
.single-blog-post .img-box .overlay .box .content ul {
	text-align: center;
	margin: 0;
	padding: 0;
}
.single-blog-post .img-box .overlay .box .content ul li {
	display: inline-block;
	list-style: none;
}
.single-blog-post .img-box .overlay .box .content ul li a {
	display: inline-block;
	width: 40px;
	height: 40px;
	margin-right: 8px;
	background: #fff;
	color: #1196CC;
	border: 1px solid #fff;
	line-height: 38px;
	font-size: 18px;
	border-radius: 50%;
	transition: all .3s ease;
}
.single-blog-post .img-box .overlay .box .content ul li a:hover {
	background: #1196CC;
	border-color: #fff;
	color: #fff;
}
.single-blog-post .content-box .date-box,
.single-blog-post .content-box .content {
	display: table-cell;
	vertical-align: top;
}
.single-blog-post .content-box .date-box {
	padding-right: 25px;
}
.single-blog-post .content-box .date-box .inner {
	width: 65px;
	text-align: center;
}
.single-blog-post .content-box .date-box .inner .date {
	background: #1196CC;
	padding: 15px 0;
}
.single-blog-post .content-box .date-box .inner .date b {
	display: block;
	font-size: 24px;
	font-weight: 500;
	color: #fff;
	line-height: 20px;
}
.single-blog-post .content-box .date-box .inner .date {
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 500;
	color: #fff;
	line-height: 20px;
}
.single-blog-post .content-box .date-box .comment {
	font-size: 20px;
	color: #202A30;
	line-height: 17px;
	font-weight: 500;
	padding: 16px 0;
	border: 1px solid #E6E6E6;
	border-top: 0px;
}
.single-blog-post .content-box .date-box .comment i:before {
	color: #374045;
	font-size: 16px;
}
.single-blog-post .content-box .content h3 {
	font-size: 20px;
	color: #000000;
	text-transform: capitalize;
	margin: 0;
	line-height: 26px;
	font-weight: bold;
	margin-bottom: 12px;
}
.single-blog-post .content-box .content p {
	font-size: 14px;
	color: #1196CC;
	line-height: 26px;
}
.single-blog-post .content-box .content span {
	color: #222222;
	font-size: 13px;
}
.single-blog-post .content-box .content span a {
	color: #1196CC;
}

.single-blog-post .share {
	margin: 0;
	padding: 0;
}
.single-blog-post .share li {
	display: inline;
	list-style: none;
}
.single-blog-post .share li a,
.single-blog-post .share li span {
	display: inline-block;
	color: #D5DADD;
	font-size: 16px;
	margin-right: 10px;
}
.single-blog-post .share li a:hover {
	color: #1196CC;
}
.single-blog-post .share li span {
	color: #222222;
	font-size: 12px;
	text-transform: capitalize;
}
.single-blog-post .bottom-box {
	margin-top: 35px;
}

.blog-page .single-blog-post,
.blog-details .admin-info,
.blog-details .comment-box {
	padding-bottom: 50px;
	margin-bottom: 60px;
	border-bottom: 1px solid #F1F1F1;
}

.blog-details .admin-info .img-box,
.blog-details .admin-info .content {
	display: table-cell;
	vertical-align: top;
}
.blog-details .admin-info .inner-box {
	width: 100px;
}
.blog-details .admin-info .content {
	padding-left: 45px;
}
.blog-details .admin-info .content h3 {
	font-size: 18px;
	font-weight: bold;
	line-height: 22px;
	margin: 0;
	margin-bottom: 10px;
	text-transform: capitalize;
	color: #222E35;
}
.blog-details .admin-info .social {
	padding: 0;
	margin: 0;
}
.blog-details .admin-info .social li {
	display: inline-block;
	list-style: none;
}
.blog-details .admin-info .social li a {
	font-size: 16px;
	margin-right: 7px;
	color: #D5DADD;
}


.blog-details .comment-box .title {
	margin-bottom: 50px;
}
.blog-details .comment-box .title h2 {
	font-size: 32px;
	text-transform: capitalize;
	color: #272727;
	font-weight: bold;
	margin: 0;
	line-height: 25px;
}

.blog-details .comment-box .single-comment-box {
	margin-bottom: 34px;
}
.blog-details .comment-box .single-comment-box:last-child {
	margin-bottom: 0;
}
.blog-details .comment-box .single-comment-box .img-box,
.blog-details .comment-box .single-comment-box .content-box {
	display: table-cell;
	vertical-align: top;
}
.blog-details .comment-box .single-comment-box .img-box .inner-box {
	width: 70px;
	margin-right: 30px;
}
.blog-details .comment-box .single-comment-box .content-box h3 {
	color: #272727;
	font-size: 16px;
	text-transform: capitalize;
	font-weight: bold;
	line-height: 20px;
	margin: 0;
}
.blog-details .comment-box .single-comment-box .content-box span {
	color: #272727;
	display: inline-block;
	font-weight: 500;
}
.blog-details .comment-box .single-comment-box .content-box p {
	color: #1196CC;
	line-height: 26px;
}
.blog-details .comment-box .single-comment-box .content-box a.reply {
	font-size: 13px;
	font-weight: bold;
	font-family:  arial, sans-serif;
	text-transform: uppercase;
	color: #262F36;
}
.blog-details .comment-box .single-comment-box .content-box .meta-box {
	margin-bottom: 15px;
	margin-top: 8px;
}

/*** 

====================================================================
	Pricing Section
====================================================================

***/

.pricing-table {
	background-color: #f7f7f7;
	position: relative;
}
.pricing-table .thumb img {
	max-width: 100%;
}
.pricing-table .pricing-header {
	position: relative;
	text-align: center;
}
.pricing-table .pricing-header .package-price {
	background-color: rgba(42, 175, 174, 0.85);
	border: 10px solid rgba(255, 255, 255, 0.25);
	color: #fff;
	display: inline-block;
	font-size: 30px;
	font-weight: 600;
	left: 40px;
	margin: 0 auto 0 -40px;
	padding: 0 10px;
	position: absolute;
	top: 0;
}
.pricing-table.active .pricing-header .package-price {
	background-color: rgba(0, 163, 200, 1.0);
}
.pricing-table .pricing-header .package-price span {
	font-size: 16px;
}
.pricing-table .pricing-title {
	background-color: #1c1c1c;
	color: #fff;
	font-size: 20px;
	font-weight: 600;
	padding: 12px 0;
	text-align: center;
	text-transform: uppercase;
}
.pricing-table .pricing-feature {
	text-align: center;
}
.pricing-table .pricing-feature li {
	background-color: #f1f1f1;
	padding: 15px 0;
	text-transform: uppercase;
}
.pricing-table .pricing-feature li:nth-child(2n+1) {
	background-color: #f7f7f7;
}
.pricing-table a {
	border-radius: 0;
	padding: 15px 0;
}


/* Pricing Style Two */

.pricing-style2 .pricing-table .pricing-title {
	background-color: #1196CC;
}

.pricing-style2 .pricing-table .pricing-btn span {
	font-size: 28px;
	font-weight: 600;
}
.pricing-style2 .pricing-btn a {
	padding: 17px 45px;
}
.pricing-style2 .pricing-btn span {
	border-radius: 0;
	padding: 6px 64px;
}
.error-section {
	padding: 0 0 46px;
	position: relative;
	text-align: center;
}
.error-section .image{
	position: relative;
	line-height: 1em;
	margin-bottom: 10px;
}
.error-section .image img {
	display: inline-block;
	max-width: 100%;
}
.error-section .image h1 {
	color: #1196CC;
	font-size: 250px;
	font-weight: 700;
	line-height: 1;
	margin-bottom: 50px;
	text-shadow: 8px 12px 9px #222;
}
.error-section h3{
	position:relative;
	font-size:40px;
	color:#222222;
	font-weight:700;
	margin-top:15px;
	text-transform:uppercase;
}
.error-section .text{
	position:relative;
	font-size:14px;
	color:#777777;
	max-width:765px;
	margin:0 auto;
	margin-top:10px;
	margin-bottom:40px;
}
.search-website{
	position:relative;
	max-width:920px;
	margin:0 auto 40px;
}
.search-website .form-group{
	position:relative;
	margin-bottom:0px;
	text-align:left;
}
.search-website .form-group input[type="text"],
.search-website .form-group input[type="search"],
.search-website .form-group textarea{
	position:relative;
	display:block;
	width:100%;
	line-height:28px;
	padding:10px 15px;
	background:#ffffff;
	border:2px solid #e6e6e6;
	height:50px;
	-moz-transition:all 0.5s ease;
	-webkit-transition:all 0.5s ease;
	-ms-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;
	transition:all 0.5s ease;
}
.search-website .form-group button{
	position:absolute;
	right:0px;
	top:0px;
	display:block;
	width:190px;
	height:50px;
	text-align:center;
	margin:0px;
	padding:11px 30px;
	line-height:26px;
	font-size:14px;
	text-transform:uppercase;
	font-weight:700;
	color:#172745;
	font-family: 'Source Sans Pro', sans-serif;
	transition: all 0.4s ease-in-out;
}
.search-website .form-group button:hover,
.search-website .form-group input:focus + button{
	background:#fff;
	color:#1196CC;
}



/* 17 .footer-call-to-action styles */

.footer-call-to-action {
	background: #1196CC;
	padding: 55px 0;
}
.footer-call-to-action h3 {
	color: #fff;
	font-size: 28px;
	font-weight: 600;
	margin: 0;
	line-height: 23px;
	margin-bottom: 16px;
}
.footer-call-to-action p {
	font-size: 16px;
	color: #D5E0EE;
	margin: 0;
	line-height: 25px;
}
.footer-call-to-action a.thm-btn {
	padding: 14px 24px;
	color: #202A30;
	margin: 7px 0;
}
.footer-call-to-action a.thm-btn.inverse:hover {
	color: #fff;
	border-color: #fff;
}




/* 18 .footer styles */

.footer {
	background: #262F36;
}

.footer-widget ul {
	margin: 0;
	padding: 0;
}
.footer-widget ul li {
	list-style: none;
}
.footer-widget .contact {
	margin-top: 21px;
}
.footer-widget .contact li {
	font-size: 13px;
	color: #C9C9C9;
	margin-bottom: 18px;
	display: flex;
}
.footer-widget .contact li i,
.footer-widget .contact li span {
	display: table-cell;
	vertical-align: middle;
}

.footer-widget .contact li i {
	font-size: 16px;
	color: #FFFFFF;
	width: 18px;
	text-align: center;
	padding-right: 25px;
}
.footer-widget.about-widget img {
	margin-bottom: 15px;
}
.footer-widget.about-widget p {
	color: #C9C9C9;
	font-size: 13px;
	line-height: 27px;
	margin: 0;
}

.footer-widget .social {
	margin-top: 30px;
}
.footer-widget .social li {
	display: inline-block;
}
.footer-widget .social li a {
	display: inline-block;
	width: 30px;
	height: 30px;
	color: #CACFD3;
	border: 1px solid #CACFD3;
	line-height: 28px;
	text-align: center;
	font-size: 15px;
	border-radius: 50%;
	margin-right: 3px;
	transition: all .3s ease;
}
.footer-widget .social li a:hover {
	background: #1196CC;
	border-color: #1196CC;
}
.footer-widget h3.title {
	font-size: 20px;
	text-transform: capitalize;
	font-weight: bold;
	color: #FEF9F9;
	margin: 0;
	margin-bottom: 24px;
}

.footer-widget.quick-links {
	margin-top: 35px;
}
.footer-widget.quick-links ul li a {
	font-size: 14px;
	color: #C9C9C9;
	line-height: 38px;
	transition: all .3s ease;
}
.footer-widget.quick-links ul li a:hover {
	color: #1196CC;
}
.footer-widget.latest-post {
	margin-top: 35px;
}
.footer-widget.latest-post ul {
	margin-top: 42px;
}
.footer-widget.latest-post ul li {
	margin-bottom: 20px;
}
.footer-widget.latest-post ul li span.border {
	display: table-cell;
	vertical-align: top;
}
.footer-widget.latest-post ul li span.border:before {
	content: ' ';
	width: 10px;
	height: 2px;
	background: #FFFFFF;
	display: block;
}
.footer-widget.latest-post ul li .content {
	padding-left: 18px;
	display: table-cell;
	vertical-align: top;
	position: relative;
	top: -8px;
}
.footer-widget.latest-post ul li a {
	display: block;
	color: #C9C9C9;
	font-size: 13px;
	line-height: 25px;
	transition: all .3s ease;
}
.footer-widget.latest-post ul li a:hover {
	color: #1196CC;
}
.footer-widget.latest-post ul li span {
	color: #576673;
	font-size: 13px;
	display: block;
}
.footer-widget.contact-widget {
	margin-top: 35px;
}
.footer-widget.contact-widget input,
.footer-widget.contact-widget textarea {
	width: 100%;
	height: 50px;
	background: #2C353C;
	color: #C9C9C9;
	font-size: 13px;
	margin-bottom: 10px;
	border: none;
	outline: none;
	padding: 0 20px;
}
.footer-widget.contact-widget textarea {
	height: 100px;
	padding-top: 15px;
	margin-bottom: 5px;
}
.footer-widget.contact-widget button {
	width: 100%;
	height: 50px;
	background: #1196CC;
	color: #fff;
	text-transform: uppercase;
	font-size: 13px;
	border: none;
	outline: none;
	padding: 0;
	line-height: 50px;
	font-weight: bold;
	transition: all .3s ease;
}
.footer-widget.contact-widget button:hover {
	background: #fff;
	color: #1196CC;
}

/* 19 .footer-bottom styles */

.footer-bottom {
	background: #262F36;
	border-top: 1px solid #2D373F;
	padding: 22px 0;
}
.footer-bottom p {
	margin: 0;
	font-size: 13px;
	color: #fff;
}
.footer-bottom a {
	color: #1196CC;
}


/* 20 contact form validation styles */

.contact-form label.error {
	display: none !important;
}
.contact-form input.error,
.contact-form textarea.error {
	background: rgba(255,0,0,.2) !important;
}


/* 21 .home-appointment-form styles */

.home-appointment-form {
	background-image: url("../img/call-to-action/bg-1.jpg");
	background-position: center center;
	background-size: cover;
	position: relative;
	z-index: 9999;
	padding: 90px 0;
}
.home-appointment-form .heading {
	display: inline-block;
	background: #fff;

	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}
.home-appointment-form .heading h3 {
	margin: 0;
	color: #262F36;
	font-size: 24px;
	text-transform: capitalize;
	line-height: 60px;
	padding: 0 35px;
	font-weight: 600;
}
.home-appointment-form .form-grp {
	background: #fff;
	padding: 35px 30px;
}
.home-appointment-form .form-grp .single-form {
	margin-right: 20px;
	float: left;
}
.home-appointment-form .form-grp .single-form:last-child {
	margin-right: 0;
}
.home-appointment-form .form-grp .single-form input {
	width: 222px;
	height: 55px;
	border: 1px solid #EDF0F3;
	padding-left: 22px;
	outline: none;
}
.home-appointment-form .form-grp .single-form button {
	width: 152px;
	height: 55px;
	background: #1196CC;
	border: none;
	outline: none;
	color: #fff;
	font-family:  arial, sans-serif;
	font-size: 14px;
	text-transform: uppercase;
}
.home-appointment-form .form-grp .select-input-wrapper {
	width: 222px;
}
.home-appointment-form .form-grp .select-input + .ui-selectmenu-button {
	border-radius: 0;
	width: 100% !important;
	background: none;
	border: none;
	font-weight: normal;
	border: 1px solid #EDF0F3;
	height: 55px;
	outline: none;
}
.home-appointment-form .form-grp .select-input + .ui-state-default .ui-icon {
	background-image: url(../img/resources/select-menu-bg.png);
	background-position: 0 0;
	margin: -3px;
	right: 15px;
}
.home-appointment-form .form-grp .select-input + .ui-selectmenu-button span.ui-selectmenu-text {
	padding: 0;
	margin: 0;
	font-size: 14px;
	font-family: arial,sans-serif;
	font-weight: normal;
	color: #BDBDBD;
	border-radius: 0px;
	height: 55px;
	outline: none;
	line-height: 55px;
	padding-left: 20px;
}
.home-appointment-form.doctor-profile {
	margin-top: 0;
	padding-bottom: 60px;
	padding-top: 0;
}
.home-appointment-form.doctor-profile .heading h3 {
	line-height: 35px;
}
.home-appointment-form.doctor-profile hr {
	border-top: 1px solid #F1F1F1;
	border-bottom: 1px solid #F1F1F1;
	height: 6px;
	margin: 0;
	margin-bottom: 60px;
}
.home-appointment-form.doctor-profile .form-grp .single-form input,
.home-appointment-form.doctor-profile .form-grp .select-input + .ui-selectmenu-button span.ui-selectmenu-text{
	background: #EFEFEF;
}


/* 22 select menu item styles */


.ui-selectmenu-menu {
	z-index: 999999;
}
.ui-widget-content {
	background: none;
	border: none;
	background: #fff;
	border-bottom: 0;
}
.ui-menu .ui-menu-item {
	padding: 0;
	font-size: 14px;
	line-height: 40px;
	border-bottom: 1px solid #EDF0F3;
	padding-left: 15px;
	font-family:  arial, sans-serif;
	font-weight: normal;
	color: #666666;
	font-size: 14px;
}
.ui-menu .ui-menu-item.ui-state-focus,
.ui-menu .ui-menu-item:hover {
	font-weight: normal;
	font-size: 14px;
	/* color: #fff; */
	background: #1196CC;
	border-bottom: 1px solid #1196CC;
	border-top: 1px solid #1196CC;
}


/* 23 date picker styles */

.ui-datepicker-header {
	background: #1196CC;
	border-color: #1196CC;
	border-radius: 0;
}
.ui-datepicker .ui-state-default {
	font-size: 14px;
	background: none;
	font-weight: normal;
	border: 1px solid #EDF0F3;
	padding: 7px;
	font-family:  arial, sans-serif;
}
.ui-datepicker .ui-state-highlight {
	background: #1196CC;
	color: #fff;
}


/* 24 .inner-header styles */

.inner-header {
	padding-top: 60px;
	padding-bottom: 80px;
	position: relative;
	background: url(../images/inner-header-bg.jpg) center center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.inner-header:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #fff;
	opacity: .85;
}
.inner-header .sec-title {
	position: relative;
	margin-bottom: 0;
}
.inner-header .sec-title span.decor:before,
.inner-header .sec-title span.decor:after {
	background: #DADADA;
}
.inner-header .sec-title h2 {
	color: #000000;
	font-size: 40px;
	text-transform: uppercase;
	line-height: 58px;
	margin: 0;
}
.breadcumb {
	padding: 0;
	margin: 0;
	margin-bottom: 20px;
}
.breadcumb li {
	display: inline-block;
}
.breadcumb li a,
.breadcumb li i,
.breadcumb li span {
	display: block;
	font-size: 15px;
}
.breadcumb li a {
	color: #1196CC;
}
.breadcumb li span {
	color: #222E35;
}

/* 25 .about-content styles */

.about-content.full-sec {
	background: #fff;
}
.about-content.full-sec .full-sec-content {
	padding-top: 0;
	padding: 0;
}


/* 26 .single-award styles */

.awards-wrapper {
	margin-left: -13.5px;
	margin-right: -13.5px;
	margin-bottom: 20px;
	margin-top: 25px;
}
.single-award {
	width: 25%;
	float: left;
	padding: 0 13.5px;
}
.single-award .inner {
	border: 1px solid;
	color: #1196CC;
	padding: 25px 0 10px;
	text-align: center;
}
.single-award .inner i {
	font-size: 40px;
	margin-bottom: 15px;
}
.single-award .inner i:before {
	font-size: 40px;
}
.single-award .inner p {
	font-size: 12px;
	font-weight: 800;
	text-transform: uppercase;
}
.single-award .inner span.block {
	display: block;
	line-height: 15px;
}
.single-award .inner span.number {
	font-size: 36px;
	font-weight: bold;
	display: block;
	margin-top: -3px;
}
.doctor-profile ul.infos {
	margin: 0;
	padding: 0;
	margin-top: 11px;
}
.doctor-profile ul.infos li {
	list-style: none;
	line-height: 35px;
}
.doctor-profile ul.infos li span {
	display: table-cell;
	vertical-align: middle;
}
.doctor-profile ul.infos li span:first-child {
	text-transform: uppercase;
	color: #222E35;
	font-size: 13px;
	font-weight: 600;
}
.doctor-profile ul.infos li span:last-child {
	padding-left: 40px;
	color: #1196CC;
}
.doctor-profile ul.social {
	padding: 0;
	margin-top: 15px;
}
.doctor-profile ul.social li {
	display: inline-block;
}
.doctor-profile ul.social li a {
	display: block;
	width: 35px;
	height: 35px;
	border-radius: 5px;
	background: #3B3B3B;
	color: #FFFFFF;
	text-align: center;
	line-height: 35px;
	transition: all .3s ease;
}
.doctor-profile ul.social li:hover a {
	background: #1196CC;
}


/* 27 .contact-content styles */

.contact-content #contact-page-google-map {
	height: 400px;
	width: 100%;
	margin-bottom: 63px;
}
.contact-content h2 {
	color: #23282A;
	font-size: 30px;
	text-transform: capitalize;
	font-weight: 600;
	margin: 0;
	margin-bottom: 35px;
}
.contact-content .contact-form textarea,
.contact-content .contact-form input {
	width: 100%;
	height: 60px;
	border: 1px solid #1196cc;
	outline: none;
	padding-left: 20px;
	line-height: 58px;
	margin-bottom: 20px;
}
.contact-content .contact-form textarea {
	height: 221px;
}
.contact-content .contact-form button {
	width: 120px;
	height: 45px;
	background: #1196CC;
	font-size: 13px;
	font-family:  arial, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	border: none;
	outline: none;
	color: #fff;
}

.contact-content .contact-info {
	padding: 0;
}
.contact-content .contact-info li {
	list-style: none;
	margin-bottom: 23px;
}
.contact-content .contact-info li .icon-box,
.contact-content .contact-info li .content-box {
	display: table-cell;
	vertical-align: top;
}
.contact-content .contact-info li .icon-box .inner {
	width: 70px;
	height: 70px;
	background: #1196CC;
	border-radius: 50%;
	text-align: center;
	line-height: 70px;
	color: #fff;
	font-size: 30px;
	margin-right: 25px;
}
.contact-content .contact-info li .content-box h4 {
	margin: 0;
	font-size: 14px;
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	margin-bottom: 10px;
}
.contact-content .contact-info li .content-box p {
	color: #1196CC;
	line-height: 26px;
}
.contact-content .gm-err-icon img {
	min-width: 0%;
}

/* 28 .appointment-content styles */

.appointment-content {

}

.appointment-content .select-input-wrapper {
	width: 100%;
}
.appointment-content .select-input + .ui-selectmenu-button {
	border-radius: 0;
	width: 100% !important;
	background: none;
	border: none;
	font-weight: normal;
	border: 1px solid #1196cc;
	height: 60px;
	outline: none;
}
.appointment-content .select-input + .ui-state-default .ui-icon {
	background-image: url(../img/resources/select-menu-bg.png);
	background-position: 0 0;
	margin: -3px;
	right: 15px;

}
.appointment-content .select-input + .ui-selectmenu-button span.ui-selectmenu-text {
	padding: 0;
	margin: 0;
	font-size: 14px;
	font-family: arial,sans-serif;
	font-weight: normal;
	color: #666666;
	border-radius: 0px;
	height: 60px;
	outline: none;
	line-height: 55px;
	padding-left: 20px;
}
.appointment-content .half-wrapper {
	margin-left: -10px;
	margin-right: -10px;
}
.appointment-content.contact-content .contact-form  textarea {
	height: 155px;
}
.appointment-content .half {
	margin-top: 15px;
	padding: 0 10px !important;
}
.appointment-content .title-box {
	margin-bottom: 50px;
	margin-top: 50px;
}
.appointment-content .title-box span {
	font-size: 18px;
	color: #7C7C7C;
	text-transform: capitalize;
	font-family:  arial, sans-serif;
	font-weight: 500;
}
.appointment-content .title-box p {
	line-height: 26px;
	color: #1196CC;
}
.appointment-content .title-box h3 {
	margin: 0;
	color: #262F36;
	font-size: 24px;
	text-transform: capitalize;
	line-height: 35px;
	font-weight: 600;
	margin-bottom: 10px;
}


/* 29 .page-navigation styles */

.page-navigation {
	padding: 0px;
}
.page-navigation li {
	display: inline-block;
	list-style: none;
}
.page-navigation li a,
.page-navigation li span {
	border: 2px solid #F1F1F1;
	color: #D1D1D1;
	font-size: 16px;
	padding: 3px 13px;
	transition: all .3s ease;
	margin-right: 5px;
}
.page-navigation li a:hover,
.page-navigation li span {
	background: #1196CC;
	border-color: #1196CC;
	color: #fff;
}


/* 30 .side-bar-widget styles */

.pull-right .side-bar-widget {
	margin-left: 20px;
}
.single-sidebar-widget {
	margin-bottom: 38px;
}
.single-sidebar-widget.search input {
	width: calc(100% - 66px);
	height: 55px;
	border: 1px solid #F1F1F1;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
	outline: none;
	background: #fff;
	padding-left: 20px;
}
.single-sidebar-widget.search button {
	width: 66px;
	height: 55px;
	border: 1px solid #1196CC;
	background: #1196CC;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
	padding: 0;
	line-height: 53px;
	text-align: center;
	outline: none;
	font-size: 17px;
	color: #fff;
	margin-left: -5px;
}
.single-sidebar-widget .title {
	font-size: 24px;
	font-weight: 600;
	color: #3F3E3E;
	text-transform: capitalize;
	margin: 0;
}
.single-sidebar-widget.category .title {
	margin-bottom: 11px;
}
.single-sidebar-widget.category ul {
	margin: 0;
	padding: 0;
}
.single-sidebar-widget.category ul li {
	list-style: none;
}
.single-sidebar-widget.category ul li a {
	color: #1196CC;
	line-height: 45px;
	position: relative;
	padding-left: 26px;
	transition: all .3s ease;
}
.single-sidebar-widget.category ul li a:hover {
	color: #1196CC;
}
.single-sidebar-widget.category ul li a:before {
	content: '';
	width: 10px;
	height: 2px;
	display: block;
	background: #E3E3E3;
	position: absolute;
	top: 10px;
	left: 0;
}
.single-sidebar-widget.archive .title {
	margin-bottom: 11px;
}
.single-sidebar-widget.archive ul {
	margin: 0;
	padding: 0;
}
.single-sidebar-widget.archive ul li {
	list-style: none;
}
.single-sidebar-widget.archive ul li a {
	color: #1196CC;
	line-height: 45px;
	position: relative;
	padding-left: 26px;
	tranistion: all .3s ease;
}
.single-sidebar-widget.archive ul li a:hover {
	color: #1196CC;
}
.single-sidebar-widget.archive ul li a:before {
	content: '';
	width: 10px;
	height: 2px;
	display: block;
	background: #E3E3E3;
	position: absolute;
	top: 10px;
	left: 0;
}
.single-sidebar-widget.popular-post ul {
	margin: 0;
	padding: 0;
	margin-top: 25px;
}
.single-sidebar-widget.popular-post ul li {
	list-style: none;
	padding-bottom: 25px;
	margin-bottom: 25px;
	border-bottom: 1px solid #F5F5F5;
}
.single-sidebar-widget.popular-post ul li:last-child {
	padding-bottom: 0;
	margin-bottom: 0;
	border-bottom: 0;
}
.single-sidebar-widget.popular-post ul li .img-box,
.single-sidebar-widget.popular-post ul li .content-box {
	display: table-cell;
	vertical-align: middle;
}
.single-sidebar-widget.popular-post ul li .img-box .inner-box {
	width: 70px;
	margin-right: 25px;
}
.single-sidebar-widget.popular-post ul li .img-box img {
	width: 70px;
}
.single-sidebar-widget.popular-post ul li .content-box h4 {
	font-size: 14px;
	color: #1196CC;
	line-height: 26px;
	margin: 0;
	transition: all .3s ease;
}
.single-sidebar-widget.popular-post ul li .content-box h4:hover {
	color: #1196CC;
}
.single-sidebar-widget.popular-post ul li .content-box span {
	color: #1196CC;
	font-size: 14px;
	display: inline-block;
	line-height: 26px;
}
.single-sidebar-widget.tags ul {
	padding: 0;
	margin-top: 30px;
}
.single-sidebar-widget.tags ul li {
	display: inline-block;
	list-style: none;
	margin-right: 3px;
	margin-bottom: 12px;
}
.single-sidebar-widget.tags ul li a {
	display: inline-block;
	border: 1px solid #F1F1F1;
	font-size: 14px;
	border-radius: 30px;
	color: #BABABA;
	padding: 5px 23px;
	transition: all .3s ease;
}
.single-sidebar-widget.tags ul li a:hover {
	background: #1196CC;
	border-color: #1196CC;
	color: #fff;
}



#single_Service .service_sideber{}
#single_Service .service_sideber .services_lis {
	border: 1px solid #f4f4f4;
	border-bottom:0px solid;
}
#single_Service .service_sideber .services_lis ul{
	margin:0;
	padding:0;
	list-style:none;
}
#single_Service .service_sideber .services_lis ul li {
	border-bottom: 1px solid #f4f4f4;
	line-height: 60px;
}


#single_Service .service_sideber .services_lis ul li i{
	color:#1196CC;
	font-size:18px;
	font-weight:normal;
	padding-left: 10px;
	padding-right:20px;
}
#single_Service .service_sideber .services_lis ul li a {
	text-decoration: none;
	overflow: hidden;
	display: block;
	color: #262f36;
	font-size: 14px;
	font-family:  arial, sans-serif;
	font-weight: 400;
	padding-left: 20px;
}
#single_Service .service_sideber .services_lis ul li.active a,
#single_Service .service_sideber .services_lis ul li a:hover {
	background:#1196CC;
	color:#fff;
	transition: all ease-in 300ms;
	-webkit-transition: all ease-in 300ms;
	-moz-transition: all ease-in 300ms;
}
#single_Service .service_sideber .services_lis ul li.active a i,
#single_Service .service_sideber .services_lis ul li a:hover i{
	color:#fff
}


#single_Service .service_sideber .appointment_side_form {
	border: 1px solid #f4f4f4;
	border-top: 0px solid;
	margin-top: 40px;
}
#single_Service .service_sideber .appointment_side_form h2{
	font-family: arial, sans-serif;
	font-size:20px;
	font-weight:600;
	color:#fff;
	text-align:center;
	background:#1196CC;
	height:55px;
	padding-top:15px;
}
#single_Service .service_sideber .appointment_side_form .side_form {
	padding: 20px 20px;
}
#single_Service .service_sideber .appointment_side_form .side_form input {
	font-family: arial, sans-serif;
	font-size:14px;
	color:#b7b3b3;
	background:#efefef;
	width:100%;
	height:45px;
	border:0px solid;
	padding-left:20px;
	margin-bottom: 10px;
}
#single_Service .service_sideber .appointment_side_form .side_form .select-input + .ui-selectmenu-button span.ui-selectmenu-text {
	background: #efefef;
	height: 45px;
	line-height: 43px;
}
#single_Service .service_sideber .appointment_side_form .side_form .select-input + .ui-selectmenu-button {
	height: 45px;
}
#single_Service .service_sideber .appointment_side_form .side_form .appoin_button{
	font-family: arial, sans-serif;
	font-size:13px;
	font-weight:600;
	color:#fff;
	text-align:center;
	background:#1196CC;
	width:100%;
	height:45px;
	border:0px solid;
	margin-top: 5px;
}

#single_Service .service_sideber .question_Box {
	margin-top: 40px;
}
#single_Service .service_sideber .question_Box h2{
	font-family: arial, sans-serif;
	font-size:20px;
	color:#404040;
	font-weight:600;

}
#single_Service .service_sideber .question_Box .qustion_list {
	margin-bottom: 30px;
	padding-top: 20px;
}
#single_Service .service_sideber .question_Box .qustion_list ul{
	margin:0;
	padding:0;
	list-style:none;
}
#single_Service .service_sideber .question_Box .qustion_list ul li {
	padding: 10px 0 20px 0;

}
#single_Service .service_sideber .question_Box .qustion_list ul li i{
	color:#1196CC;
	float:left;

}
#single_Service .service_sideber .question_Box .qustion_list ul li a{
	text-decoration:none;
	color:#8e979f;
	float:left;
	padding-left:15px;
}
.question_Box hr {
	margin-top: 5px;
	margin-bottom: 5px;
}

#single_Service .service_mainconetent .about_box h2{
	font-family: arial, sans-serif;
	font-size:20px;
	font-weight:500;
	color:#202a30;
}
#single_Service .service_mainconetent .about_box p{
	font-size:14px;
	color:#8e979f;
	line-height:30px;

}
#single_Service .service_mainconetent .about_promo_box h2{
	font-weight:400;
	color:#1196CC;
	font-size:28px;
	line-height:40px;
	padding:10px 0;
}
#single_Service .service_mainconetent .about_promo_box .pormo_box_details p{
	font-size:14px;
	color:#8e979f;
	line-height:25px;

}
#single_Service .service_mainconetent .about_promo_box .pormo_box_details .box_list{
	overflow:hidden;
	padding-top:10px;

}
#single_Service .service_mainconetent .about_promo_box .pormo_box_details .box_list ul{
	margin:0;
	padding:0;
	list-style:none;
}
#single_Service .service_mainconetent .about_promo_box .pormo_box_details .box_list li{
	line-height: 35px;
}
#single_Service .service_mainconetent .about_promo_box .pormo_box_details .box_list li i{
	width: 20px;
	height: 20px;
	border-radius: 100%;
	border: 1px solid #1196CC;
	color: #1196CC;
	text-align: center;
	font-size: 16px;
}
#single_Service .service_mainconetent .about_promo_box .pormo_box_details .box_list li a{
	text-decoration:none;
	color:#646f79;
	font-style:16px;
	font-weight:600;
	padding-left:15px;

}

#single_Service .service_mainconetent .about_promo_box .pormo_box_details .service_table{
	overflow:hidden
}
.about_box img {
	max-width: 100%;
}
.service_table {
	width: 100%;
	padding-top: 30px;
	overflow: hidden;
}
.service_table .table {
	border: 1px solid #efefef;
	margin-bottom: 0;
}
.service_table .thead-inverse{
	background:#efefef;
	border:0px solid;
}
.service_table .thead-inverse tr th{
	font-family: arial, sans-serif;
	font-size:20px;
	color:#1196CC;
	font-weight:600;
	border-bottom:0px solid !important;
}
.service_table .thead-inverse tbody tr td{
	color:#8e979f;
	font-weight:500;
	font-size:14px;
	padding-left:15px;
}
.service_table tbody tr td i{
	width: 20px;
	height: 20px;
	border-radius: 100%;
	border: 1px solid #1196CC;
	color: #1196CC;
	text-align: center;
	font-size: 16px;
	padding-left: 2px;
	padding-top: 1px;
	margin-right:10px;

}
.service_table .table thead>tr>th, .service_table .table tbody>tr>th, .service_table .table tfoot>tr>th, .service_table .table thead>tr>td, .service_table .table tbody>tr>td, .service_table .table tfoot>tr>td {
	padding: 15px;
	line-height: 1.428571429;
	vertical-align: top;
	border-top: 1px solid #ddd;
	font-size: 14px;
	color: #8e979f;
}